.darkDisableOverlay{
    z-index: 124;
    height: 100%;
    width: 100%;
    background-color: #f00;
}


td.availableHomeTeam{
    padding: 15px;
}

.tdAvailableAwayTeam{
    text-align: right;
    padding: 15px;
}

.unavilableHomeTeam{
    text-decoration: line-through;
}

.unavilableAwayTeam{
    text-decoration: line-through;
}

.fixtureList{
    width: 100%;
}

.teambtn{
    width: 160 px !important;
}

.vsSeparator{
    padding-left: 3em;
    padding-right: 3em;
}

.kickoffTime{
    padding-right: 3em;
}

.activePlayerName{
    color: #009933;
}

.elimPlayerName{
    color: #f00;
    text-decoration: line-through;
}

.predictTable{
    width: 100%;
    border-collapse: collapse;
}

.predictTable td{
    
    background-color: #888;
    border: 4px solid #ddd;
    
}
.predictTableLabel{
    width: 30%;
}

#currentSelection{
    color: #333;
    position: fixed;
    right: 100px;
    top: 10px;
    border-radius: 10px;
    border: 3px solid #937777;
    width: 250px;
    height: 210px;
    padding: 5px;
    z-index: 1000;
    background-color: #e0e0e0;
    display: none;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Oct-2014, 10:48:01
    Author     : tgrealy
*/

