<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}?v=5">
    <title>Last Man Standing{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/lastmanstanding.js') }}?v=20250409"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    {% block head_extra %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
