<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
    <title>Last Man Standing{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/lastmanstanding.js') }}"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
