{% extends "base_nologin.html" %}
{% block title %} - Forgot Password{% endblock %}
{% block body %}
<div data-role="page">
    <div data-role="header">
        {% include "includes/header_nologin.html" %}
    </div>
    <div data-role="content">
        <h3>Forgot Password</h3>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <form data-ajax="false" id="resetRequestForm" method="post">
            Please enter your username:<br/>
            <input type="text" name="username" value="" /><br/><br/>
            <input type="submit" value="Continue" />
        </form>
    </div>
    <div data-role="footer" data-position="fixed" data-theme="b">
        {% include "includes/footer.html" %}
    </div>
</div>
{% endblock %}
