{% extends "base_modern.html" %}
{% block title %} - Home2 Rules{% endblock %}
{% block head_extra %}
<script src="{{ url_for('static', filename='scripts/home2.js') }}?v=1" defer></script>
{% endblock %}
{% block body %}
{% include "includes/header_modern.html" %}

<main class="modern-main">
    <section id="rules-section" class="panel">
        {% include "includes/rules_modern.html" %}
    </section>
</main>

{% include "includes/home2_modals.html" %}
{% include "includes/footer_modern.html" %}
{% endblock %}
