{% extends "base_nologin.html" %}
{% block title %} - Register{% endblock %}
{% block body %}
<div data-role="page">
    <div data-role="header">
        {% include "includes/header_nologin.html" %}
    </div>
    <div data-role="content">
        <h3>Create an Account</h3>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form data-ajax="false" action="{{ url_for('register') }}" method="post">
            Username:<br/>
            <input type="text" name="username" value="" /><br/><br/>

            Full Name:<br/>
            <input type="text" name="full_name" value="" /><br/><br/>

            Email Address:<br/>
            <input type="email" name="email" value="" /><br/><br/>

            Password:<br/>
            <input type="password" name="password" value="" /><br/><br/>

            Confirm Password:<br/>
            <input type="password" name="password_confirm" value="" /><br/><br/>

            <input type="hidden" name="league_id" value="{{ league_id }}" />
            <input type="submit" value="Register" />
        </form>
    </div>
    <div data-role="footer" data-position="fixed" data-theme="b">
        {% include "includes/footer.html" %}
    </div>
</div>
{% endblock %}
